<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<header style="width: 100%" th:insert="~{fragments :: header}"></header>
<div>
    <a th:href="@{/}">Tilbage</a>
</div>

<form method="post" th:object="${show}" th:action="@{/createShowForMovie/{id}(id=${movieId})}">
    <div class="form-row">
        <label for="cinema">cinema</label>
        <input id="cinema" type="number" th:field="*{room}" required />
    </div>
    <input readonly id="movieId" name="movieId" th:field="*{movie}" />

    <div class="form-row">
        <label for="period">date/time</label>
        <input id="period" type="datetime-local" th:field="*{period}" required />
    </div>
    <div class="form-row">
        <label for="price">price</label>
        <input id="price" type="number" th:field="*{price}" required />
    </div>

    <div class="form-row">

        <button type="submit" class="btn-link">Opret Bruger</button>
    </div>
</form>
</body>
</html>