<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KinoXP</title>
  <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<!-- Header -->
<div class="header">
  <div class="logo">🍿 KinoXP</div>
  <div class="nav">
    <a href="#">Hjem</a>
    <a href="#">Katalog</a>
  </div>
  <div class="login"><a href="#">Log Ind</a></div>
</div>

<!-- Filters -->
<div class="filters">
  <select>
    <option>Vælg Dato</option>
    <option>1 Oct</option>
    <option>2 Oct</option>
  </select>
  <select>
    <option>Kategori</option>
    <option>Action</option>
    <option>Comedy</option>
  </select>
  <input type="text" placeholder="Søg...">
</div>

<!-- Movie Grid -->
<div id="movies" class="movie-grid">



</div>

</body>
<script type="module" th:src="@{/js/Movies.js}"></script>
</html>
