<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KinoXP</title>
    <link rel="stylesheet" href="style.css" th:href="@{style.css}">

</head>
<style>

</style>
<body>

<!-- Header -->
<div class="header">
    <div class="logo">🍿 KinoXP</div>
    <div class="nav">
        <a href="#">Hjem</a>
        <a href="#">Katalog</a>
    </div>
    <div class="login"><a href="#">Log Ind</a></div>
</div>

<!-- Filters -->
<div class="filters">
    <input type="text" placeholder="Søg...">
</div>

<!-- Snack Grid -->
<div id="snacks" class="snack-grid">



</div>

</body>
<style>

</style>
<script type="module" th:src="@{/js/snacks.js}"></script>
</html>


