<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KinoXP</title>
    <link rel="stylesheet" href="style.css" th:href="@{style.css}">

</head>
<style>

</style>
<body>

<!-- Header -->
<header style="width: 100%" th:insert="~{fragments :: header}"></header>

<!-- Filters -->
<div class="filters">
    <input type="text" placeholder="Søg...">
</div>

<!-- Snack Grid -->
<div id="snacks" class="snack-grid">



</div>

</body>
<style>

</style>
<script type="module" th:src="@{/js/snacks.js}"></script>
</html>


